.h5p-editor-storymap-dialog {
  align-items: center;
  background-color: var(--color-disabled-dark);
  box-sizing: border-box;
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  left: 0;
  padding: 1rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;

  &.display-none {
    display: none;
  }

  .h5p-editor-storymap-dialog-content {
    background-color: var(--color-background);
    padding: 1rem;

    .h5p-editor-storymap-dialog-headline {
      color: var(--color-text);
      display: -webkit-box;
      font-weight: 600;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      margin-bottom: 0.75rem;
      overflow: hidden;
      overflow-wrap: anywhere;
      -webkit-box-orient: vertical;

      &.display-none {
        display: none;
      }
    }

    .h5p-editor-storymap-dialog-inner {
      > div > .field.library {
        > :not(.libwrap) {
          display: none;
        }

        > .libwrap {
          margin-top: 0;
        }
      }
    }

    .h5p-editor-storymap-dialog-buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 0.5rem;
      overflow: hidden;

      .h5p-editor-storymap-dialog-button {
        font-size: var(--font-size-small);
        padding: 0.625rem 2rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color-primary-dark);
        color: var(--color-background);
        cursor: pointer;
        background: var(--color-primary);

        &:hover {
          background: var(--color-primary-90);
        }

        &:active {
          background: var(--color-primary-95);
        }

        &.h5p-editor-remove {
          background: none;
          border: none;
          color: var(--color-incorrect);

          &:hover {
            color: var(--color-incorrect-80)
          }
        }
      }
    }
  }
}
