.h5peditor-storymap {
  // Common colors
  --color-background: #fff;
  --color-text: rgb(76, 68, 82);
  --color-text-dark: var(--color-text);
  --color-text-light: #fff;

  --color-shadow-dark: rgba(0, 0, 0, .2);
  --color-shadow-light: rgba(166, 166, 166, .2);

  // Disabled color, e.g. for buttons
  --color-disabled: rgb(128 128 128 / 95%);
  --color-disabled-dark: rgb(0 0 0 / 75%);
  --color-disabled-light: rgb(0 0 0 / 5%);

  // Hint box, e.g. for when no content is set
  --color-hint-message-background: rgb(245, 232, 213);
  --color-hint-message-border: rgb(238, 221, 85);
  --color-hint-message-text: rgb(135, 78, 18);

  --color-tooltip-background: rgb(0 0 0 / 90%);

  // Primary color with common gradients
  --color-primary: rgb(26, 115, 217);
  --color-primary-5: rgb(26 115 217 / 5%);
  --color-primary-10: rgb(26 115 217 / 10%);
  --color-primary-15: rgb(26 115 217 / 15%);
  --color-primary-25: rgb(26 115 217 / 15%);
  --color-primary-30: rgb(26 115 217 / 30%);
  --color-primary-50: rgb(26 115 217 / 50%);
  --color-primary-70: rgb(26 115 217 / 70%);
  --color-primary-75: rgb(26 115 217 / 75%);
  --color-primary-90: rgb(26 115 217 / 90%);
  --color-primary-95: rgb(26 115 217 / 95%);

  --color-primary-dark: rgb(23, 104, 196);

  // Commonly used by H5P Group
  --color-joubelui-button: rgb(26, 115, 217);
  --color-joubelui-button-hover: rgb(19, 86, 163);
  --color-joubelui-button-active: rgb(16, 72, 136);
  --color-editor-field-border: #d0d0d1;

  --color-incorrect: rgb(183, 28, 28);
  --color-incorrect-80: rgb(183 28 28 / 80%);

  // Icons
  --icon-fontawesome-location-pin: "\f041";
  --icon-fontawesome-compass: "\f14e";
  --icon-fontawesome-paste: "\f0ea";
  --icon-fontawesome-list: "\f03a";
  --icon-fontawesome-magnifying-glass-plus: "\f00e";
  --icon-fontawesome-magnifying-glass-minus: "\f010";
  --icon-fontawesome-tv: "\f26c";
  --icon-fontawesome-plus: "\f067";
  --icon-fontawesome-ellipsis-vertical: '\f142';
  --icon-materialicons-edit: "\e3c9";
  --icon-materialicons-arrow-upward: "\e5d8";
  --icon-materialicons-arrow-downward: "\e5db";
  --icon-materialicons-delete: "\e872";
  --icon-materialicons-visibility: "\e8f4";

  // Font sizes
  --font-size-small: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.15rem;

  display: block;
}
