.h5p-editor-storymap-sidebar-list {
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: calc(100% - var(--chooserHeight));
  overflow: auto;
  width: 100%;

  &.display-none {
    display: none;
  }

  .h5p-editor-storymap-sidebar-list-draggables-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
    padding: 0.25rem;

    .element {
      border: 2px solid var(--color-shadow-dark);
      border-radius: 3px;
      box-sizing: border-box;
      column-gap: 0.5rem;
      cursor: move;
      display: grid;
      grid-template-columns: 1fr 2rem;
      padding: 0.25rem 0.5rem;
      user-select: none;

      .element-info {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .element-type {
          color: var(--color-text);
          font-size: var(--font-size-small);
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .element-name {
          color: var(--color-text);
          font-size: var(--font-size-small);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .h5p-editor-storymap-sidebar-list-add-button {
    aspect-ratio: 1;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    color: var(--color-text-light);
    cursor: pointer;
    justify-self: center;
    position: relative;
    width: 2rem;

    &[disabled] {
      background-color: var(--color-disabled);
      cursor: not-allowed;
    }

    &:not([disabled]):hover {
      background-color: var(--color-primary-90);
    }

    &:not([disabled]):active {
      background-color: var(--color-primary-95);
    }

    &::before {
      content: var(--icon-fontawesome-plus);
      display: block;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: var(--font-size-large);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
