.submenu-popup {
  color: var(--color-text-dark);
  background-color: var(--color-background);
  border: 1px solid var(--color-shadow-dark);
  border-radius: 4px;
  box-shadow: 0 10px 20px var(--color-shadow-dark);
  box-sizing: border-box;
  font-size: var(--font-size-small);
  position: absolute;
  z-index: 2; // Needs to be larger than z-index of placeholder

  &.display-none {
    display: none;
  }

  .submenu-popup-title {
    background-color: var(--color-primary-10);
    font-weight: bold;
    line-height: 0.8rem;
    overflow: hidden;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .submenu-popup-options {
    list-style: none;
    margin: 0;
    padding: 0.25rem;

    .submenu-popup-option {
      align-items: center;
      background: transparent;
      border: 0;
      color: var(--color-text-dark);
      cursor: pointer;
      display: inline-flex;
      line-height: 0.75rem;
      overflow: hidden;
      padding: 0.5rem;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &.display-none {
        display: none;
      }

      &::before {
        font-family: "Material Icons", system-ui, -apple-system, sans-serif;
        margin-right: 0.5rem;
        line-height: 1;
      }

      &.submenu-popup-option-edit::before {
        content: var(--icon-materialicons-edit);
      }

      &.submenu-popup-option-move-up::before {
        content: var(--icon-materialicons-arrow-upward);
      }

      &.submenu-popup-option-move-down::before {
        content: var(--icon-materialicons-arrow-downward);
      }

      &.submenu-popup-option-remove::before {
        content: var(--icon-materialicons-delete);
      }

      &.submenu-popup-option-visibility::before {
        content: var(--icon-materialicons-visibility);
      }
    }

    .submenu-popup-option:hover {
      background-color: var(--color-primary-10);
    }
  }

  &.keyboard {
    .submenu-popup-option:focus {
      background-color: var(--color-primary-10);
    }
  }
}
