.preview-overlay {
  align-items: center;
  background-color: var(--color-disabled-dark);
  box-sizing: border-box;
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  left: 0;
  padding: 1rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;

  &.display-none {
    display: none;
  }

  &.display-invisible {
    left: -2000px;
    position: absolute;
    top: -500000px;
    width: 960px;
  }

  .preview-content {
    background-color: var(--color-background);
    padding: 1rem;

    .preview-label {
      color: var(--color-text);
      font-weight: 600;
    }

    .preview-explanation {
      color: var(--color-text);
      font-size: var(--font-size-small);
      margin-bottom: 1rem;
    }

    .preview-wrapper {
      border: 1px solid var(--color-editor-field-border);
    }

    .h5p-editor-storymap-dialog-buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 0.5rem;
      overflow: hidden;

      .h5p-editor-storymap-dialog-button {
        font-size: var(--font-size-small);
        padding: 0.625rem 2rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color-primary-dark);
        color: var(--color-background);
        cursor: pointer;
        background: var(--color-primary);

        &:hover {
          background: var(--color-primary-90);
        }

        &:active {
          background: var(--color-primary-95);
        }
      }
    }
  }
}
