.toolbar-button-wrapper {
  position: relative;

  .toolbar-button {
    align-items: center;
    background-color: var(--color-primary-5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--toolbar-button-background-size) var(--toolbar-button-background-size);
    border: 2px solid var(--color-text-light); /* Same px value as used by Joubel in Interactive Book */
    border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    font-size: var(--font-size-normal);
    height: var(--toolbar-button-size);
    padding: 0;
    position: relative;
    width: var(--toolbar-button-size);

    &:not(.toolbar-button-disabled) {
      &:hover {
        background-color: var(--color-primary-10);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-primary-25);
      }

      &.toolbar-button-active {
        background-color: var(--color-primary);
        background-position: center;
        background-repeat: no-repeat;
        background-size: var(--toolbar-button-background-size) var(--toolbar-button-background-size);
        opacity: 20;

        &:hover {
          background-color: var(--color-primary-90);
          cursor: pointer;
        }

        &:active {
          background-color: var(--color-primary-95);
        }
      }
    }

    &.toolbar-button-disabled {
      background-color: var(--color-disabled);

      &::before {
        color: var(--color-text-light);
      }
    }
  }

  &.display-none {
    display: none;
  }

  &.cloaked {
    visibility: hidden;
    opacity: 0;
  }
}
