.h5p-editor-storymap-toolbar-main {
  --toolbar-button-size: 2.75rem;
  --toolbar-button-padding: 0.125rem;

  background: var(--color-background);
  box-shadow: 10px 10px 30px var(--color-shadow-light);
  column-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  row-gap: 1rem;

  &.display-none {
    display: none;
  }

  .toolbar-button {
    color: var(--color-primary);
  }
}
